<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaTime - A város legjobb pizzériája!</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Egyedi stílusok -->
    <style>


    </style>
</head>
<body>

<script th:if="${successLogin}" th:inline="javascript">
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-left",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
    toastr.success([[${successLogin}]]);
</script>

<!-- Navigációs bar -->
<div th:replace="layout/navbar :: navbar"></div>



<!-- Főoldal tartalom -->
<div class="container hero-section">
    <h1>Jó helyen jársz!</h1>
    <p>A legfinomabb pizzák és olasz ízek otthona. Nézd meg kínálatunkat, és találd meg a kedvenced!</p>

    <a href="/pizza" class="action-button">Vásárlás</a>
</div>

<!-- Footer -->
<div th:replace="layout/footer :: footer"></div>

<!-- jQuery -->
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<!-- Bootstrap Bundle JS (tartalmazza a Popper.js-t is) -->
<script th:src="@{/js/bootstrap.bundle.js}"></script>

<script>
    // Automatikus lapozás beállítása
    document.addEventListener('DOMContentLoaded', () => {
        const carousel = new bootstrap.Carousel('#pizzaCarousel', {
            interval: 3000, // 3 másodpercenként vált
            wrap: true
        });
    });
</script>

</body>
</html>
